databases==0.9.0
emoji==2.14.1
fastapi==0.115.12
git+https://github.com/ariaghora/mpstemmer.git
nest_asyncio==1.6.0
nltk==3.9.1
pandas==2.3.0
python-dotenv==1.1.0
SQLAlchemy==2.0.41
tensorflow
uvicorn==0.34.3
youtube_comment_downloader==0.1.76
fastapi
regex
python-Levenshtein
